*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(antaro.otf);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: white;
    font-family: myFont;
    max-width: 100%;
    overflow-x: hidden;
    /* background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center; */
    min-height: 100vh;
}

/* Navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(90px);
    z-index: -1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header .logo img{
    color: black;
    text-decoration: none;
    font-weight: 700;
    height: 40px;
}

.navbar a {
    font-size: 1.5rem;
    color: black;
    border: 2px black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
    padding: 0 10px;
}

.navbar a:hover {
    width: 100%;
    color: rgb(94, 92, 92);
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    right: 5%;
    color: black;
    cursor: pointer;
    display: none;
}


@media (max-width: 883px) {
    .icons {
        display: inline-flex;
    }

    .header::before {
        background: rgba(0,0,0,.2);
    }

    #check:checked~.icons #menu-icon {
        display: none; 
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(90px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 13rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .navbar .active {
        border-bottom: none;
    }

    #check:checked~navbar a {
        transform: translateY(0);
    }

    .containerr .boxx .text {
        justify-content: left;
    }
    .containerr .boxx .text .hide {
        display: block;
    }

    .containerr .boxx .text img {
        height: 800px;
        width: 800px;
    }
}

/* galerija */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 110px 20px 0 20px;
    max-width: 100%;
}

.container .heading, .hero .heading, .containerr .heading {
    width: 70%;
    padding-bottom: 50px;
}

.container .heading h1, .hero .heading h1, .containerr .heading h1 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}



@media only screen and (max-width:1400px) {
    .container {
        margin: 10px;
    }
    .container .box {
        flex-direction: column;
    }

    .container .box .dream {
        width: 100%;
    }


}

/* Kontaktai */ 

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 10px lightgray;
    margin: 200px 350px;
    background: linear-gradient(white, rgb(243, 243, 243));
}

.hero .boxx {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media only screen and (max-width:1440px) {
    .hero {
        display: flex;
        justify-content: center;
        margin: 50px 5px;
        border: none;
        background: none;
        box-shadow: none;
    }
    .hero .boxx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .boxx .box {
        display: flex;
        justify-content: center;
    }

    .hero .boxx .box form {
        align-items: left;
        width: 100%;
    }

    .hero .boxx .box form .row {
        flex-direction: column;
    }
}

.hero .boxx .box {
    width: 100%;
    margin: 20px;
}

.hero h1 {
    justify-content: center;
    margin: 50px 0 50px 0;
    align-items: center;
}

.hero .boxx .box .textt {
    font-size: 1.5rem;
}

form {
    max-width: 600px;
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}   

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 40%;
    cursor: pointer;
}

input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

/* Contacts */

.contacts {
    display: flex;
    bottom: 0;
    justify-content: center;
    margin: 10px;
}

.contacts a {
    margin: 0 5px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}


.info {
    margin-top: 150px;
}

.info .heading {
    width: 50%;
    padding-bottom: 50px;
}

.info h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

hr {
    margin-top: 50px;
}


.container .box .paslauga {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    background: linear-gradient(white, rgb(243, 243, 243));
    width: 32.5%;
    margin: 15px;
    height: 900px;
    padding: 25px;
}

.container .box .paslauga h1 {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}

.container .box .paslauga h1 img {
    margin: 10px 20px;
}

.container .box .paslauga ul {
    list-style: none;
    margin-top: 50px;
}

.container .box .paslauga .boxy .upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .paslauga .boxy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.container .box .paslauga .boxy .lower .border {
    width: 100%;
    align-self: center;
}

.container .box .paslauga .image {
    width: 90%;
    height: 30%;
    align-self: center;
}

.container .box .paslauga .boxy .lower {
    text-align: center;
    margin-top: auto;
}

.container .box .paslauga .boxy .lower li {
    text-align: left;
    margin: 10px;
}

.container .box .paslauga .boxy .upper .upper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .box .paslauga .boxy .upper .upper2 ul li {
    text-align: left;
    list-style-position: inside;
}

.container .box .paslauga .boxy .upper li {
    text-align: center;
}

.container .box .paslauga .boxy .upper li ul li {
    list-style: circle;
}
.container .box .paslauga .boxy li{
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.success {
    background: #9fd2a1;
    padding: 5px 10px;
    text-align: center;
    color: #326b07;
    border-radius: 3px;
    font-synthesis: 14px;
    margin-top: 10px;
}

.containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 110px 0;
}

.containerr .boxx {
    width: 85%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background: linear-gradient(white, rgb(236, 233, 233));
    box-shadow: 15px 15px 15px lightgrey;
}

.containerr .boxx .text {
    padding: 50px;
    font-size: 2rem;
}

.containerr .box .text .hide {
    display: none;
}

.containerr .boxx .text img {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width:1400px) {
    .containerr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    
    .containerr .boxx {
        width: 100%;
        display: flex;
        justify-content: center;
        background: none;
        border: none;
        box-shadow: none;
    }

    .containerr .boxx .text {
        padding: 10px;
        font-size: 2rem;
    }

    .containerr .boxx .text img {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width:1400px) {
    .container .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .container .box .paslauga {
        border: none;
        background: none;
        width: 100%;
        margin: 50px 0;
        height: 100%;
        padding: 0;
    }

    .container .box .bSeperate {
        display: block;
    }

    .container .box .paslauga .boxy .upper li, .container .box .paslauga .boxy .lower li, .container .box .paslauga .boxy .upper .upper1 li, .container .box .paslauga .boxy .upper .upper2 li {
        font-size: 1.7rem;
    }

    .container .box .paslauga h1 {
        font-size: 2.5rem;
    }

    .container h3 {
        font-size: 1.3rem;
    }

    .container .box .paslauga h1 img {
        display: none;
    }
}
