*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(antaro.otf);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&effect=fire-animation');

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 30px; */
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: white;
    font-family: myFont;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.container .heading, .hero .heading, .containerr .heading, .galerija .heading, .homePage .heading {
    width: 60%;
    padding-bottom: 50px;
}

.container .heading h1, .hero .heading h1, .containerr .heading h1, .galerija .heading h1, .homePage .heading h1{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 5px solid rgb(0, 0, 0);
    padding-bottom: 20px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.hero .heading h1 {
    text-shadow: none;
}

.container, .hero, .containerr, .galerija, .contacts {
    margin: 100px 0;
}

@media only screen and (max-width:1400px) {
    .container .heading h1, .hero .heading h1, .containerr .heading h1, .galerija .heading h1, .homePage .heading h1 {
        font-size: 5rem;
        color: white;
        border-bottom: 5px solid rgb(0, 0, 0);
    }
}


/* Navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: top 0.3s;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
    transition: top 0.3s;
}

.header .logo {
    display: flex;
    flex-direction: row;
}

.header .logo img{
    color: black;
    text-decoration: none;
    height: 60px;
}

.navbar a {
    position: relative;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: white;
    border: 2px black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
    padding: 0 10px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.navbar a:hover {
    color: black;
    width: 100%;
    color: rgb(94, 92, 92);
}


#check {
    display: none;
}

.icons {
    font-size: 4rem;
    right: 5%;
    width: 100px;
    color: black;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-left: auto;
}


@media (max-width: 1400px) {
    .icons {
        display: block;
        font-size: 6rem;
        padding:10px;
    }

    .header .logo img {
        height: 100px;
    }

    .header::before {
        background: rgba(0, 0, 0, .7);
        height: 142px;
    }

    #check:checked~.icons #menu-icon {
        display: none; 
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .7);
        overflow: hidden;
        transition: .3s ease;
    }

    html {
        scroll-padding-top: 180px;
    }

    #check:checked~.navbar {
        height: 31rem;
    }

    .navbar a {
        display: block;
        font-size: 3rem;
        margin: 2.8rem 0;
        text-align: center;
    }

    .navbar .active {
        border-bottom: none;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
    }
}



/* Sveiki atvykę į FrostFire! */


 .homePage {
    display: flex;
    /* background-image: url(images/blue.gif); */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    letter-spacing: 10px;
    /* background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}

span {
    font-size: 8rem;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: rgb(206, 255, 255);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.homePage .heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 2rem;
    z-index: 2;
}





/* Kodėl"FrostFire"? */

.containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 140px 20px;
}

.containerr .boxx {
    width: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.containerr .boxx .text {
    font-size: 2rem;
}

.containerr .boxx .text h3 {
    padding-bottom: 20px;
}

.containerr .boxx .text .column .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerr .boxx .text .column .row .item {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    padding: 0;
    align-items: start;
    justify-content: center;
}


.container .boxx .text .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.containerr .boxx .text .column .row .item img {
    height: 50px;
    width: 50px;
    color: white;
}

@media only screen and (max-width:1400px) {
    .containerr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 215px 0;
    }
    
    .containerr .boxx {
        width: 100%;
        display: flex;
        justify-content: center;
        background: none;
        border: none;
        box-shadow: none;
    }

    .containerr .boxx .text {
        justify-content: left;
        color: white;
        padding: 10px;
        font-size: 3.3rem;
    }

    .containerr .boxx .text .column .row {
        flex-direction: column;
    }

    .containerr .boxx .text .column .row .item img {
        height: 80px;
        width: 80px;
    }
}





/* Paslaugos */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 110px 20px 0 20px;
    max-width: 100%;
}


.container .heading h1 {
    color: white;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h3 {
    color: white;
}

.container .box .bigBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.container .box .paslauga {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 40%;
    margin: 15px;
    height: 900px;
    padding: 25px;
}

.container .box .bigBox:nth-child(1) .paslauga {
    height: 700px;
}

.container .box .paslauga h1 {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    top: 0;
    width: 100%;
}

.container .box .paslauga h1 img {
    margin: 10px 20px;
}

.container .box .paslauga ul {
    list-style: none;
    margin-top: 50px;
}

.container .box .paslauga .boxy .upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .paslauga .boxy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.container .box .paslauga .boxy .lower .border {
    color: rgb(84, 177, 177);
    width: 100%;
    align-self: center;
}

.container .box .paslauga .image {
    width: 90%;
    height: 30%;
    align-self: center;
}

.container .box .paslauga .boxy .lower {
    text-align: center;
    margin-top: auto;
}

.container .box .paslauga .boxy .lower li {
    text-align: center;
    margin: 10px;
}

.container .box .paslauga .boxy .upper .upper2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .box .paslauga .boxy .upper .upper2 ul li {
    text-align: left;
    list-style-position: inside;
}

.container .box .paslauga .boxy .upper li {
    text-align: center;
}

.container .box .paslauga .boxy .upper li ul li {
    list-style: circle;
}
.container .box .paslauga .boxy li{
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

@media only screen and (max-width:1400px) {
    .container {
        margin: 60px 10px 150px;
    }

    .container .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .container .box .paslauga {
        background: none;
        border: none;
        color: white;
        width: 100%;
        margin: 150px 0;
        height: 100%;
        padding: 0;
    }
    .container .box .bigBox {
        flex-direction: column;
    }
    .container .box .bigBox:nth-child(1) .paslauga {
        height: 1100px;
    }

    .container .box .paslauga .boxy .upper li, .container .box .paslauga .boxy .lower li, .container .box .paslauga .boxy .upper .upper1 li, .container .box .paslauga .boxy .upper .upper2 li {
        font-size: 3rem;
    }

    .container .box .paslauga .boxy .upper .upper2 {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .container .box .paslauga .boxy .upper .upper2 ul li {
        text-align: center;
    }

    .container .box .paslauga .boxy .upper li {
        text-align: center;
    }

    .container .box .paslauga h1 {
        font-size: 3.5rem;
    }

    .container h3 {
        font-size: 1.7rem;
    }

    .container .box .paslauga .boxy .lower .border {
        display: none;
    }
}






/* galerija */


.galerija {
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 2%;
    padding: 20px;
}

.galerija .heading h1 {
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(250px, 1fr);
    grid-template-rows: repeat(250px, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 30px;
    }

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 1 / 3 / 2 / 4; }
.div8 { grid-area: 1 / 2 / 3 / 3; }

@media only screen and (max-width:1440px) {
    .galerija {
        background: none;
        border: none;
    }
}





/* Susisiekime! */ 

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    align-self: center;
    float: center;
    background: rgba(255, 255, 255, 0.7);
}

.hero .boxx {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero .boxx .box {
    width: 100%;
    margin: 20px;
}

.hero h1 {
    justify-content: center;
    margin: 50px 0 50px 0;
    align-items: center;
}

.hero .boxx .box .textt {
    font-size: 1.5rem;
}

form {
    max-width: 750px;
    margin-bottom: 50px;
}

.input-group {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}   

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 40%;
    cursor: pointer;
}

.hero .boxx .box form input:focus~label, .hero .boxx .box form input:valid~label, .hero .boxx .box form textarea:focus~label, .hero .boxx .box form textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}

.success {
    background: #9fd2a1;
    padding: 5px 10px;
    text-align: center;
    color: #326b07;
    border-radius: 3px;
    font-synthesis: 14px;
    margin-top: 10px;
}

@media only screen and (max-width:1440px) {
    .hero {
        justify-content: center;
        color: white;
        margin: 10px 0;
        border: none;
        background: none;
        box-shadow: none;
        width: 100%;
    }
    .hero .boxx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .boxx .box {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .hero .boxx .box form {
        align-items: left;
        width: 100vw;
    }

    .hero .boxx .box form .row {
        flex-direction: column;
    }

    input {
        height:80px;
    }

    label {
        font-size: 1.5rem;
        color: white;
    }
    input, textarea {
        font-size: 30px;
        padding: 0;
        border: 2px solid white;
    }

    .hero .boxx .box .textt {
        font-size: 3rem;
        color: white;
    }

    button {
        height: 50px;
        font-size: 1.5rem;
        border: 2px solid white;
        color: white;
    }
}





/* Kontaktai */

.contacts {
    display: flex;
    bottom: 0;
    justify-content: center;
    margin: 10px;
}

.contacts a {
    margin: 0 5px;
    font-size: 2rem;
    color: white;
    margin-left: 20px;
}


.info {
    margin-top: 150px;
}

.info .heading {
    width: 50%;
    padding-bottom: 50px;
}

.info h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

hr {
    margin-top: 50px;
}










